* {
  box-sizing: border-box;
}

:root {
  --primary: #272a31;
  --secondary: #ec5242;
  --secondary-dark: #cc4030;
  --secondary-darker: #9e2a1d;
  --nutral: #d3d3d3;
  --nutral-darker: #999;
  --text-color: #5b5b5b;
  --sans-font: "Kanit", "sans-serif";
  --serif-font: "Lato", "serif";
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: sans-serif;
  background: white;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.upper-mennu {
  display: none;
}

.upper-left {
  width: 50%;
}

.upper-right {
  background-color: black;
  display: flex;
  width: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top-right-radius: 60px;
}

.upper-right a {
  color: white;
  font-size: 14px;
}

.lower-mennu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(93, 90, 90, 0.2);
}

.logo-bar {
  display: none;
}

.logo {
  width: 6vw;
  height: auto;
  border-radius: 50%;
}

.logo-writing {
  color: rgb(16, 2, 70);
  font-size: 20px;
}

.logo-writing2 {
  font-size: 14px;
}

.no-scroll {
  overflow-y: hidden;
}

.lower-mennu-content {
  position: fixed;
  left: -100%;
  top: 0;
  gap: 0;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: left;
  transition: 0.3s;
  background-color: rgba(3, 3, 4, 0.9);
  backdrop-filter: blur(5px);
  padding-top: 50px;
}

.nav_link {
  transition: 0.7s ease;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 138%;
  display: flex;
  align-items: center;
}

.lower-mennu-content > ul > li {
  padding-right: 4vw;
}

.lower-mennu-content.active {
  left: 0;
  height: 100vh;
}

.hamburger {
  display: block;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 30px;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.cross-button {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.hamburger.active .cross-button {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

article {
  padding: 5vh;
  margin-top: -70px;
  background-image: url('imgs/group-photo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#intro1 {
  color: rgb(206, 6, 6);
  padding-left: 30px;
  font-size: 100%;
  padding-bottom: 10px;
}

#intro2 {
  color: rgb(206, 6, 6);
  font-size: 200%;
  font-weight: bold;
  background-image: url('imgs/shape-set-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 3px 5px rgb(144, 8, 8);
}

#intro3 {
  font-size: 30px;
  font-weight: bold;
}

#intro4 {
  font-size: 20px;
  margin-top: -30px;
}

.products1 {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
}

.products1::after {
  border-bottom: 2px solid red;
  position: absolute;
  height: 1px;
  width: 3rem;
  content: '';
  bottom: 0;
  inset-inline-start: 50%;
  margin-inline-start: -1.5rem;
}

.products2 {
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 1rem;
  text-align: center;
  color: black;
}

.products2::after {
  border-bottom: 2px solid red;
  position: absolute;
  height: 1px;
  width: 3rem;
  content: '';
  bottom: 0;
  inset-inline-start: 50%;
  margin-inline-start: -1.5rem;
}

.manager-image {
  position: relative;
}

.manager-image ::before {
  position: absolute;
  top: -0.5rem;
  inset-inline-start: -0.5rem;
  width: calc(6 * 8px + 4px);
  height: calc(6 * 8px + 4px);
  content: '';
  z-index: -1;
  background-color: yellow;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.products-categories {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%2321242d' fill-opacity='1' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  color: var(--nutral);
  text-align: center;
}

.product-life {
  display: flex;
  align-items: center;
  margin: 2px;
  background-color: #303033;
  opacity: 0.5;
}

.product-name {
  color: var(--secondary);
  flex-grow: 0;
  font-size: 1.2rem;
  padding: 1px;
  margin: 1px;
}

.product-description {
  color: white;
  flex-basis: 55%;
  font-weight: 500;
  font-size: 0.8rem;
}

.header2 {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

.intro-words {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
}

/* MANAGEMENT */

.management {
  padding: 2% 5%;
}

.management-img {
  width: 100px;
  height: 100px;
}

.management-profile {
  display: flex;
}

.prof-hist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1px 20px;
  margin-top: -20px;
}

.person-name {
  font-weight: bold;
}

.mag-title {
  font-size: 14px;
  font-style: italic;
  color: red;
}

.mag-desc {
  font-size: 14px;
}

#management .more {
  border: 1px solid rgb(126, 123, 123);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 0.5rem;
}

#management .more svg {
  height: 1.5rem;
  color: var(--secondary);
}

.hide-management {
  display: none;
}

.overview {
  background-image: url('./imgs/group-photo-bg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10vh;
}

.overview-header1 {
  font-size: 3vw;
  font-weight: 700;
  color: #ec5242;
  text-transform: uppercase;
  text-align: center;
}

.about-1 {
  display: flex;
  width: 60vw;
  text-align: center;
  align-items: center;
  background-color: white;
  font-size: 1.4vw;
  line-height: 2vw;
  padding: 3vw;
  min-height: 30vh;
}

.about-contact {
  text-align: center;
  align-items: center;
}

.about-contact-email {
  font-weight: bold;
  color: #040404;
  border-bottom: 2px solid rgb(115, 113, 113);
}

.company-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5vh 20vw;
}

.company-logo-box {
  border-top: 1px solid rgb(212, 207, 207);
  border-bottom: 1px solid rgb(212, 207, 207);
}

.company-awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.awards {
  width: 70vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.award-1 {
  background-image: url('./imgs/2022_event.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 5px;
  background-color: #040404;
}

.award-2 {
  background-image: url('./imgs/2022_event.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin: 5px;
}

.footer {
  display: flex;
  background-color: #040404;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1vh 10vw;
}

#footer-img {
  width: 15vw;
  height: 20vh;
}

#footer-wordings {
  font-size: 80%;
  padding: 10px;
}

.footer-mainpage {
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 1vh 10vw;
}

.sponsors {
  background-color: #454242;
  color: white;
  padding: 10px;
}

.sponsors2 > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5vh 15vw;
  flex-wrap: wrap;
}

.sponser-img {
  width: 80px;
  height: 80px;
}

/* For mobile phones: */

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .get-quote {
    display: flex;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 1% 30%;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .lower-mennu-content {
    position: relative;
    display: flex;
    left: 0;
    top: 0;
    gap: 0;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 5vh;
    text-align: left;
    transition: 0.3s;
    background-color: white;
    backdrop-filter: blur(1px);
    padding-top: 5px;
    color: black;
  }

  .lower-mennu-content > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lower-mennu-content > ul > li > a {
    font-size: 15px;
  }

  .nav_link {
    color: black;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  .lower-mennu {
    padding: 0.1px 5%;
    justify-content: flex-end;
  }

  .upper-mennu {
    background-color: black;
    display: flex;
    height: 4vh;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    min-height: 30px;
  }

  .logo-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cross-button {
    display: none;
  }

  .header2 {
    padding-top: 50px;
  }

  .insurance-products {
    padding: 2% 5% 2% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:55vh;
  }

  .product-img {
    height: 3rem;
    flex-grow: 0;
    padding: 0.01px;
    margin: 0.01px;
  }

  #management .more {
    display: none;
  }

  .hide-management {
    display: flex;
  }

  #contact {
    padding: 5px;
    border: 3px solid red;
  }

  #intro1 {
    font-size: 150%;
  }

  #intro2 {
    font-size: 400%;
  }

  .get-quote {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 1% 30%;
    text-decoration: underline;
  }
}
